body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: #53b8bf;
}

code {
  color: red;
  font-family: monospace;
}

.highlighted-text {
  color: SpringGreen;
}

li + li {
  color: white;
  background-color: black;
}
